:root {
    --main-color: rgb(126, 231, 189);
    --secondary-color: rgb(224, 107, 109);
}

* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    color: #070707;
    max-height: 100vh;
    height: 100%;
    background:
        fixed linear-gradient(transparent, #fff 70%),
        fixed
        repeating-linear-gradient(
            #efefef,
            #efefef 1px,
            transparent 1px,
            transparent 40px
        ),
        fixed
        repeating-linear-gradient(
            to right,
            #efefef,
            #efefef 1px,
            transparent 1px,
            transparent 40px
        )
        white;
}

h1 {
    font-size: 76px;
    color: var(--main-color);
    margin-top: 20px;
    -webkit-text-stroke: 4px black;
}

.redTxt {
    color: var(--secondary-color);
}

.usersCont {
    display: flex;
    justify-content: center;
    align-items: center;
}

.userCont, .oppCont {
    display: inline-block;
    width: 45%;
    text-align: left;
    font-size: 24px;
}

.oppCont {
    text-align: right;
}

.valueCont, .whosTurn, .enterName {
    margin: 20px 0;
    font-size: 24px;
}

.valueCont {
    font-weight: bold;
}

.whosTurn {
    font-size: 28px;
}

input#name {
    padding: 10px;
    font-size: 18px;
    width: 200px;
    margin-top: 10px;
    border: 2px solid #000;
    border-radius: 5px;
}

button.find {
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 18px;
    background-color: var(--main-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button.find:hover {
    background-color: var(--secondary-color);
}

.bigCont {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.cont {
    display: grid;
    grid-template-columns: repeat(3, 120px);
    grid-template-rows: repeat(3, 120px);
    gap: 10px;
}

button[class^="btn"] {
    width: 120px;
    height: 120px;
    font-size: 36px;
    cursor: pointer;
    color: black;
    background-color: #fff;
    border: 2px solid #000;
    outline: none;
    transition: background-color 0.3s;
}

button[class^="btn"]:hover {
    background-color: #f2f2f2;
}

button[class^="btn"]:disabled {
    background-color: #f2f2f2;
    cursor: not-allowed;
}